<html>
	<head>
	</head>
	<body>
	<div><label>Enter sides:</label><input type="type" name="number"  id="number"><button type="button" onclick="Draw()">Draw</button></div>
	<div id="drew" style="width:500px;height:500px;">
	</div>
	<script>
	function Draw(){
	var sides=document.getElementById("number").value;
	if ( !isNaN ( sides )){
		draw(sides);
	}else{
    document.write(sides + " is not a number please refresh page and enter number<br/>");
	}
	function draw(sides) {
  var div = document.getElementById('drew');
  div.innerHTML = "";
	var canvas = document.createElement('canvas');
  if (canvas.getContext) {
    var ctx = canvas.getContext('2d');
	ctx.clearRect(0, 0, canvas.width, canvas.height);
	ctx.beginPath();
	 if(sides==1){
		ctx.moveTo(0, 100);
		ctx.lineTo(100, 100);
		ctx.stroke();
    }
	else if(sides==3){
		let height = 200 * Math.cos(Math.PI / 6);
		ctx.moveTo(50, 150);
		ctx.lineTo(150, 150);
		ctx.lineTo(100, (300 - height)/2);
		ctx.stroke();
	}
	else if(sides >3 && sides<21){
		var a = (Math.PI * 2)/sides;
		var x=120;
		var y=60; 
		var rotateAngle=-Math.PI/2;
		var radius=50;
		
		ctx.translate(x,y);
		ctx.rotate(rotateAngle);
		ctx.moveTo(radius,0);
		for (var i = 1; i < sides; i++) {
		ctx.lineTo(radius*Math.cos(a*i),radius*Math.sin(a*i));
		}

	}
	else{
		ctx.font = "12px Arial";
		ctx.fillText("No polygon Shapes Exists for "+sides+" sides", 10, 50);
	}
	ctx.closePath()
	ctx.fill();
	div.appendChild(canvas);
  }
  }
	
}
	</script>
	</body>
</html>
